
.contact-page {
  .text-zone {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    h1 {
      font-size: 3rem;
      font-family: 'Coolvetica';
      color: #ffd700;
      font-weight: 700;
      letter-spacing: 3px;
      margin-top: 0;
      position: relative;
      left: 20%;

      // &::before {
      //   content: '<h1>';
      //   font-family: 'La Belle Aurore';
      //   font-size: 1.2rem;
      //   position: absolute;
      //   margin-top: -5px;
      //   left: 5%;
      //   opacity: 0.6;
      //   line-height: 18px;
      // }
      // &::after {
      //   content: '</h1>';
      //   font-family: 'La Belle Aurore';
      //   font-size: 1.2rem;
      //   line-height: 18px;
      //   position: absolute;
      //   left: 0%;
      //   bottom: -20px;
      //   margin-left: 20px;
      //   opacity: 0.6;
      // }
    }

    p {
      margin-left: 22%;
      font-size: 1.4rem;
      color: white;
      font-family: sans-serif;
      font-weight: 300;
      min-width: fit-content;
      animation: pulse 1s;

      &:nth-of-type(1) {
        animation-delay: 2s;
      }
      &:nth-of-type(2) {
        animation-delay: 3s;
      }
      &:nth-of-type(3) {
        animation-delay: 4s;
      }
    }
  }

  .text-animate-hover {
    &:hover {
      color: white;
    }
  }
}

.contact-icons-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items:flex-start;
  align-content: center;
  margin-top: 10%;
  margin-left: 20%;

  .contact-icon {
    font-size: 3rem;
    animation: fadeInUp 2s 2s;
    animation-fill-mode: forwards;
    color: rgb(43, 194, 214);

    &:hover {
      color: #ffd700;
      cursor: pointer;

      svg {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }
  }
}

.display-contact {
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Coolvetica';
  animation: jackInTheBox 1.2s 4s;

  &:hover {
    color: #ffd700;
    cursor: pointer;
  }
}

#linkedin-link {
  all: unset;
  text-decoration: underline;
  color: #ffd700;

  font-size: 20px;
  font-weight: 500;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.photo-me {
  border-radius: 15%;
  height: 13rem;
  width: auto;
  opacity: 0.8;
  box-shadow: 0 0 20px 0px lightyellow;
}

.info-pic {
  position: absolute;
  top: -3%;
  right: 0.1%;
  z-index: 999;
}

p {
  color: white;
  font-size: 16px;
}

@media only screen and (min-width: 650px) {
  #contact-info {
    font-size: 16px;
    color: white;
  }

  .contact-icons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 10%;

    .contact-icon {
      font-size: 80px;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      color: rgb(43, 194, 214);

      &:hover {
        color: #ffd700;
        cursor: pointer;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .display-contact {
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Coolvetica';
    animation: jackInTheBox 1.2s 4s;

    &:hover {
      color: #ffd700;
      cursor: pointer;
    }
  }

  #linkedin-link {
    all: unset;
    text-decoration: underline;
    color: #ffd700;

    font-size: 20px;
    font-weight: 500;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }

  .photo-me {
    border-radius: 15%;
    height: 25rem;
    width: auto;
    opacity: 0.8;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  .info-pic {
    position: absolute;
    top: 5%;
    right: 10%;
    z-index: 999;
  }

  p {
    color: white;
    font-size: 16px;
  }
}
